.site-layout-background{
    background-color: #fff !important;
}

.ant-layout{
    min-height: 100vh;
}

.ant-layout-header span.trigger svg{
    width: 25px !important;
    height: 25px !important;
    margin: 10px !important;
}

.demo-logo-vertical h2{
    color: #fff !important;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.content-panel {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 16px;
    height: 80vh;
}
